{{define "home"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .PageTitle}}
<body>
    {{template "header" .PageTitle}}

    <main>
    {{range .Blocks}}
        {{template "block" .}} <!-- .을 넘겨 주는 순간 Block으로 처리 -->
    {{end}}
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}